In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

In [71]:
df1 = pd.read_csv('../datasets/MENU_INFO_KOREAN(20220930).csv', encoding='cp949')
df2 = pd.read_csv('../datasets/MENU_INFO_KOREAN.csv', encoding='utf-8')
df3 = pd.read_csv('../datasets/MENU_INFO_KOREAN_SEOUL.csv', encoding='utf-8')
df4 = pd.read_csv('../datasets/대구광역시_먹거리골목 업소별 메뉴정보_20211221.csv', encoding='cp949')
df5 = pd.read_csv('../datasets/전라남도_메뉴정보_20210120.csv', encoding='utf-8')
df6 = pd.read_csv('../datasets/충청북도 충주시_음식점정보_20220731.csv', encoding='cp949')

C:\Users\Jiseok\AppData\Local\Temp\ipykernel_1880\2888674136.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('../datasets/MENU_INFO_KOREAN.csv', encoding='utf-8')
C:\Users\Jiseok\AppData\Local\Temp\ipykernel_1880\2888674136.py:3: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('../datasets/MENU_INFO_KOREAN_SEOUL.csv', encoding='utf-8')

In [72]:
df1_menu = df1[['식당명', '메뉴명', '메뉴가격']]
df2_menu = df2[['식당명', '메뉴명', '메뉴가격']]
df3_menu = df3[['식당명', '메뉴명', '메뉴가격']]
df4_menu = df4[['업소명', '메뉴명', '가격(원)']]
df5_menu = df5[['식당ID', '메뉴명', '메뉴가격']]

df4_menu = df3_menu.rename(columns={'업소명':'식당명', '가격(원)':'메뉴가격'})
df5_menu = df4_menu.rename(columns={'식당ID':'식당명'})

In [73]:
df_menu = pd.concat([df1_menu, df2_menu, df3_menu, df4_menu, df5_menu],
                   ignore_index=True)

In [74]:
df_menu.shape

(393351, 3)

In [75]:
df_menu.drop_duplicates(inplace=True)

In [76]:
df_menu.shape

(194822, 3)

In [90]:
df_menu = df_menu.reset_index()

In [91]:
df_menu.to_csv('../datasets/menu_concated_v1.2', index=False)

In [84]:
df6

,업종명,업소명,소재지(도로명),소재지전화,업태명,문의전화
0,일반음식점,아서원,충청북도 충주시 관아1길 8-1 (성내동),043-847-3639,중국식,043-850-3473
1,일반음식점,중원생고기마을,충청북도 충주시 관아3길 11 (성서동),043-847-1525,식육(숯불구이),043-850-3473
2,일반음식점,대동식당,충청북도 충주시 수안보면 온천중앙길 23-1,043-846-3406,한식,043-850-3473
3,일반음식점,유선분식,충청북도 충주시 예성로 168 (성서동),043-847-2003,분식,043-850-3473
4,일반음식점,만리식당,충청북도 충주시 수안보면 물탕2길 5,043-846-3206,한식,043-850-3473
...,...,...,...,...,...,...
3791,일반음식점,송원식당,"충청북도 충주시 주덕읍 신양로 62, 송원요양병원 신관,구관 지하,지상층 구)지하1...",043-8563-501,한식,043-850-3473
3792,일반음식점,딜리셔스쿡,"충청북도 충주시 남산로 11, 1층 102호 (지현동, 삼익캐슬)",043-845-6564,한식,043-850-3473
3793,일반음식점,오더블유오(OWO),"충청북도 충주시 대가미5길 8, 1층 (칠금동)",NaN,기타,043-850-3473
3794,일반음식점,봉방포차,"충청북도 충주시 봉방9길 4, 1층 (봉방동)",NaN,한식,043-850-3473
3795,일반음식점,42에이치제트(Hz),"충청북도 충주시 번영대로 125, 1층 (연수동)",NaN,호프/통닭,043-850-3473

In [89]:
df_menu

          식당명           메뉴명   메뉴가격
0        신풍식당            정식   5000
1         부창루           짜장면   5000
2         부창루            짬뽕   6000
3         부창루            우동   6000
4         부창루            울면   6000
...       ...           ...    ...
217430  차이나프로  깐풍기(대/4~5인분)  45000
217431  차이나프로  깐풍기(소/2~3인분)  35000
217432  차이나프로  라조기(대/4~5인분)  45000
217433  차이나프로  라조기(소/2~3인분)  35000
217434  차이나프로  유린기(대/4~5인분)  45000

[194822 rows x 3 columns]